<h1>Welcome to the Affabl Royalty Reconciliation Application</h1>
<p>Upload your PayPal CSV file to start reconciling your transactions!</p>

<%= form_tag({:action => :upload}, :multipart => true) do %>
  <%= file_field_tag 'csv' %>
<% end %>
